    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About us</h2>
              <br/>
                <p><font size="+2">Xlab is a tech + creative company.</font></p>
                <p><font size="+2">We help designers and developers build product prototypes on top of our cognitive-powered platform.</font></p >
                <p><font size="+2">Accessible. Simple and friendly.</font></p>
                <br/>
              </div>
        </div>
    </section>
